@charset "UTF-8";

/* banner img ani */
@keyframes grow {
    0% {
        background-size: 150% auto;
    }
    100% {
        background-size: 200% auto;
    }
}

/* banner typing ani */
@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 450px;
    }
}
@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

/* banner */
#banner {
    background: linear-gradient(
            rgba(61, 172, 219, 0.7),
            rgba(61, 172, 219, 0.7)
        ),
        url(../images/destination/banner.jpg) no-repeat center;
    animation: grow 50s linear infinite;
    position: relative;
    height: 540px;
}

#banner::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 540px;
    backdrop-filter: blur(4px);
}
.inner_banner {
    overflow: hidden;
    margin: 0 auto;
    height: 540px;
    width: 1320px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding-top: 170px;
    box-sizing: border-box;
    text-align: center;
}

.inner_banner .text_wrap {
    border: 10px solid #fff;
    box-shadow: 0 3px 10px rgba(30, 59, 123, 0.3);
    height: 120px;
    width: 1012px;
    padding: 25px 0;
    box-sizing: border-box;
    display: inline-block;
}

.inner_banner h2 {
    font-size: 36px;
    line-height: 53px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 50%;
    width: 445px;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}

.anim-typewriter {
    animation: typewriter 1.5s steps(14) 1s 1 normal both,
        blinkTextCursor 600ms steps(14) infinite normal;
}

/* search_bar */
.search_bar {
    display: inline-block;
    margin-top: 140px;
    height: 54px;
    width: 480px;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.search_bar input {
    border: none;
    width: 350px;
    font-size: 18px;
    color: #8e8e8e;
    outline: none;
    background-color: #ffffff00;
}

.search_bar input::placeholder {
    color: #adadad;
}

.search_bar button {
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    float: right;
}

.search_bar button img {
    display: block;
    width: 100%;
}

/* banner 3d img */
.img_3d {
    position: absolute;
    bottom: 0;
    right: -150px;
}

/* 여행지 공통 */
section {
    text-align: center;
    margin: 150px auto;
}

/* 국내 여행지 */
.domestic {
    width: 1320px;
}

.title {
    margin-bottom: 120px;
}

.title h3 {
    font-size: 30px;
    font-family: "NanumSquareNeoExtraBold";
    margin-bottom: 30px;
}

.title_line {
    background-color: #333;
    width: 80px;
    height: 2px;
    display: inline-block;
}

h4 {
    font-size: 28px;
    font-family: "NanumSquareNeoExtraBold";
}

.domestic ul {
    margin: 120px 0;
    display: flex;
    justify-content: space-between;
}

.domestic ul li a {
    display: block;
    width: 236px;
    height: 286px;
    overflow: hidden;
    border-radius: 124px 124px 0 0;
    background-color: #000;
    position: relative;
    transition: all 0.5s;
}

.domestic ul li a img {
    display: block;
    height: 100%;
    opacity: 0.8;
    transition: transform 0.5s;
}

.domestic ul li:hover a img {
    transform: scale(1.1);
}

h6 {
    font-size: 24px;
    font-family: "NanumSquareNeoExtraBold";
    color: #fff;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 10;
    transform: translateX(-50%);
}

.domestic ul li:hover a {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 #434959;
}

.domestic ol {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.domestic ol li a {
    display: block;
    width: 150px;
    height: 50px;
    box-shadow: 0.3em 0.3em 0 0 #b2c0e5, inset 0.3em 0.3em 0 0 #b2c0e5;
    padding: 12px 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

.domestic ol li:hover a,
.domestic ol li:focus a {
    box-shadow: 0 0 0 0 #3455ab, inset 6em 3.5em 0 0 #3455ab;
    color: #fff;
}

/* 해외 여행지 */
.abroad {
    width: 100%;
}

.world_map_wrap {
    background: linear-gradient(to right, #ebf7ed, #deeff7);
}

.world_map {
    width: 900px;
    height: 560px;
    margin: 0 auto;
    padding-top: 40px;
    position: relative;
}

/* pin 위치 설정 */
.world_map_wrap span {
    position: absolute;
    cursor: pointer;
    width: 40px;
}

.world_map_wrap span img {
    display: block;
    width: 100%;
}

.pin1 {
    top: 20px;
    left: 100px;
}

.pin2 {
    bottom: 276px;
    left: 200px;
}

.pin3 {
    top: 40px;
    left: 386px;
}

.pin4 {
    top: 10px;
    right: 230px;
}

.pin5 {
    bottom: 210px;
    right: 135px;
}

/* svg 세계지도 */
#world_map_svg {
    width: 900px;
    fill: #bcbcbc;
}

.inactive {
    opacity: 0.3;
}

#objects {
    cursor: pointer;
}

.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8 {
    stroke-width: 0px;
    transition: all 0.2s;
}

/* land hover */
#land1:hover {
    fill: #ffd25a;
}

#land2:hover {
    fill: #85cdf2;
}

#land3:hover {
    fill: #ff9621;
}

#land4:hover {
    fill: #6885c5;
}

#land5:hover {
    fill: #529b58;
}

/* land tag */
.land_tag {
    width: 700px;
    margin: 0 auto;
    text-align: left;
    padding-top: 30px;
}

.land_tag ul {
    display: flex;
    justify-content: space-between;
}

.land_tag ul li {
    cursor: pointer;
}

.land_tag ul li p {
    font-family: "NanumSquareNeoExtraBold";
    line-height: 16px;
    padding-left: 5px;
}
.land_tag ul li img {
    display: block;
    height: 30px;
}

/* land lnb */
.land_nav_wrap {
    height: 548px;
}

.land_nav > li {
    width: 1320px;
    margin: 0 auto;
    display: none;
}

.land_nav > li h5 {
    font-family: "NanumSquareNeoExtraBold";
    font-size: 16px;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left 20px center;
    padding: 20px 0 20px 55px;
}

.land_lnb ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.land_lnb ul li {
    width: 282px;
}

.land_lnb ul li a {
    display: block;
    background-color: #bbbbbb28;
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
    padding: 7px 0;
}

.land_lnb ul li a span {
    font-size: 13px;
}

.land_lnb ul li:hover a {
    color: #fff;
    background-color: #71bb78;
}

/* land lnb 개별 */
#tab1 h5 {
    background-image: url(../images/destination/mini_yellow.svg);
}

#tab2 h5 {
    background-image: url(../images/destination/mini_skyblue.svg);
}

#tab3 h5 {
    background-image: url(../images/destination/mini_orange.svg);
}

#tab4 h5 {
    background-image: url(../images/destination/mini_blue.svg);
}

#tab5 h5 {
    background-image: url(../images/destination/mini_green.svg);
}
