@charset "UTF-8";
/* @import url(https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css); */
@font-face {
    font-family: "Ttangsbudaejjigae";
    src: url("../fonts/Ttangsbudaejjigae.woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Recipekorea";
    src: url("../fonts/Recipekorea.woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@keyframes ani {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 20px);
    }
}

/* banner */
#banner {
    height: 540px;
    position: relative;
}
.slide li {
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    left: 0;
}
.slide li a {
    display: block;
    height: 100%;
}
.slide li.s1 {
    background: url(../images/shop/banner1.jpg) no-repeat center/cover;
}
.slide li.s2 {
    background: url(../images/shop/banner2.jpg) no-repeat center/cover;
}
.slide li.s3 {
    background: url(../images/shop/banner3.jpg) no-repeat center/cover;
}

/* 상품검색바 */
.product_search {
    width: 1150px;
    height: 90px;
    background-color: #ffffffe0;
    position: absolute;
    bottom: -45px;
    left: 50%;
    box-shadow: 0 6px 10px #00000010;
    transform: translateX(-50%);
    border-radius: 0 60px 60px 0;
    padding: 7px 20px;
    box-sizing: border-box;
}

/* 목적지, 인원수 */
.select_wrap {
    float: left;
    margin-right: 36px;
}

.select_wrap > p {
    font-size: 14px;
    color: #aaa;
}

.select_mate {
    position: relative;
    float: left;
    min-width: 200px;
    width: 200px;
    min-height: 40px;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: all 375ms ease-in-out;
}

.dropdown_icon {
    position: absolute;
    top: 17px;
    right: 20px;
    transition: all 275ms;
    cursor: pointer;
}

.dropdown_icon img {
    display: block;
}

.list_select {
    position: relative;
    width: 100%;
}

.list_contents {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    overflow: hidden;
    height: 0px;
    width: 100%;
    background-color: #fff;

    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: all 375ms ease-in-out;
}
.list_contents > .active {
    background-color: #eeeeee;
}

.list_contents > li {
    width: 100%;
    color: #777;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    height: 40px;
    box-sizing: border-box;
    padding: 7px 10px;
    margin: 0px;
    transition: all 275ms ease-in-out;
    display: block;
    cursor: pointer;
}

.list_contents > li:last-child {
    border-radius: 3px;
    border-bottom: 0px;
}
.list_contents > li:hover {
    background-color: #eeeeee;
}

/* etiqueta <p> con la opcion selecionada  */
.selection_option {
    display: block;
    padding: 7px 10px;
    cursor: pointer;
}

/* 날짜 */
.date-range-container {
    display: flex;
    gap: 36px;
}

.date-range-container p {
    font-size: 14px;
    color: #aaa;
}

.date-range-container input {
    width: 200px;
    height: 40px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    border: none;
    font-size: 16px;
    color: #333;
    padding: 10px;
    box-sizing: border-box;
    background: url(../images/shop/calendar.svg) no-repeat right 20px center
        #fff;
}

/* 검색버튼 */
.product_search_btn {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.product_search_btn p {
    padding: 18px 30px;
    box-sizing: border-box;
    font-family: "NanumSquareNeoExtraBold";
    color: #fff;
    font-size: 16px;
    width: 137px;
    height: 64px;
    border-radius: 0 46px 46px 0;
    cursor: pointer;
    background-color: #59afdc;
    background-repeat: no-repeat;
    background-position: right 30px center;
    background-image: url(../images/shop/arrow.svg);
    transition: all 0.5s;
}

.product_search_btn p:hover {
    background-color: #229fe1;
    background-position: right 40px center;
}

/* etc */
.etc_link {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: "NanumSquareNeoExtraBold";
    margin-top: 110px;
}

.etc_link li {
    width: 240px;
    padding: 21px 0 21px 50px;
    box-sizing: border-box;
    background-color: rgba(91, 175, 220, 0.07);
    background-repeat: no-repeat;
    background-position: center right 50px;
    background-image: url(../images/shop/icon_airplanet.svg);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.etc_link li:nth-child(2) {
    background-image: url(../images/shop/icon_star.svg);
}

.etc_link li:nth-child(3) {
    background-image: url(../images/shop/icon_car.svg);
}

.etc_link li:nth-child(4) {
    background-image: url(../images/shop/icon_insurance.svg);
}

.etc_link li:nth-child(5) {
    background-image: url(../images/shop/icon_earth.svg);
}

.etc_link li:hover {
    background-color: rgba(91, 175, 220, 0.2);
}

.search_bar button img {
    display: block;
    width: 100%;
}

/* section 공통 */
section {
    margin: 150px auto;
}

/* 타임특가딜 */
.title1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 510px;
    background: linear-gradient(45deg, #a0d5a5, #59afdc);
    color: #fff;
    font-family: "NanumSquareNeoExtraBold";
    box-sizing: border-box;
    text-align: center;
}

.title1 h2 {
    margin: 20px 0;
    font-size: 30px;
}

.title1 img {
    position: relative;
    top: -10px;
    right: 10px;
}

.deal {
    position: relative;
    margin-top: 60px;
}

.deal_img {
    background: url(../images/shop/deal_bg.jpg) no-repeat bottom left;
    background-size: 105%;
    width: 1000px;
    height: 390px;
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(4%);
}

.inner_deal {
    margin: 0 auto;
    width: 1260px;
    height: 330px;
    border: 10px solid #71bb78;
    padding: 40px 35px 30px 690px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    z-index: 10;
    font-family: "NanumSquareNeoExtraBold";
}

.inner_deal h3 {
    font-size: 28px;
}

.inner_deal p {
    padding: 20px 0;
}

.inner_deal h4 {
    font-size: 26px;
    text-align: right;
}

.inner_deal h4 .color {
    color: #ff8c12;
}

.inner_deal h4 .small {
    font-size: 20px;
    font-family: "NanumSquareNeoBold";
}

#countdown {
    font-size: 22px;
    padding-top: 40px;
}

#countdown ul li {
    display: inline-block;
}

#countdown ul li b {
    font-size: 16px;
    color: #909090;
}

.inner_deal .deal_btn {
    background-color: #71bb78;
    font-size: 20px;
    padding: 20px 50px;
    font-family: "NanumSquareNeoBold";
    box-sizing: border-box;
    width: 180px;
    color: #fff;
    position: absolute;
    bottom: 30px;
    right: 35px;
}

.deal_end {
    display: none;
    padding-top: 40px;
    font-size: 22px;
}

/* section2 */

/* title2,3,4 공통 */
.title2,
.title3,
.title4 {
    width: 1320px;
    margin: 0 auto 60px;
}

.title2 .inner_title,
.title3 .inner_title,
.title4 .inner_title {
    width: 400px;
    display: inline-block;
}

.title2 .inner_title img,
.title3 .inner_title img,
.title4 .inner_title img {
    display: block;
    float: left;
    width: 50px;
    margin-right: 7px;
}

.title2 h2,
.title3 h2,
.title4 h2 {
    font-size: 30px;
    font-family: "NanumSquareNeoExtraBold";
    margin: 16px 0;
}

/* search_bar */
.search_bar_wrap {
    width: 1320px;
    margin: 0 auto;
}

.search_bar {
    display: inline-block;
    height: 54px;
    width: 480px;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.search_bar input {
    border: none;
    width: 350px;
    font-size: 18px;
    color: #8e8e8e;
    outline: none;
    background-color: #ffffff00;
}

.search_bar input::placeholder {
    color: #adadad;
}

.search_bar button {
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    float: right;
}

/* section3 */
/* 더보기 button */
.button_wrap {
    position: relative;
}

.button {
    width: 87px;
    position: absolute;
    bottom: 0;
    right: 35px;
}

.button a {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    background-color: #f6f5ff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.5s;
}

.button a:hover {
    background-color: #d0ccf2;
}

/* 여행패키지 목록 */
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

.pakage_content {
    display: grid;
    grid-gap: 30px;
    max-width: 1320px;
    margin: 0 auto;
}

.pakage_content {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 420px;
    height: 420px;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
        0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
        0 16px 16px rgba(0, 0, 0, 0.1);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.009) 11.7%,
        rgba(0, 0, 0, 0.034) 22.1%,
        rgba(0, 0, 0, 0.072) 31.2%,
        rgba(0, 0, 0, 0.123) 39.4%,
        rgba(0, 0, 0, 0.182) 46.6%,
        rgba(0, 0, 0, 0.249) 53.1%,
        rgba(0, 0, 0, 0.32) 58.9%,
        rgba(0, 0, 0, 0.394) 64.3%,
        rgba(0, 0, 0, 0.468) 69.3%,
        rgba(0, 0, 0, 0.54) 74.1%,
        rgba(0, 0, 0, 0.607) 78.8%,
        rgba(0, 0, 0, 0.668) 83.6%,
        rgba(0, 0, 0, 0.721) 88.7%,
        rgba(0, 0, 0, 0.762) 94.1%,
        rgba(0, 0, 0, 0.79) 100%
    );
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.card:nth-child(1):before {
    background: url(../images/shop/pkg1.jpg) no-repeat center;
    background-size: auto 100%;
}
.card:nth-child(2):before {
    background: url(../images/shop/pkg2.jpeg) no-repeat center;
    background-size: auto 100%;
}
.card:nth-child(3):before {
    background: url(../images/shop/pkg3.jpg) no-repeat center;
    background-size: auto 100%;
}
.card:nth-child(4):before {
    background: url(../images/shop/pkg4.jpg) no-repeat center;
    background-size: auto 100%;
}
.card:nth-child(5):before {
    background: url(../images/shop/pkg5.jpg) no-repeat center;
    background-size: auto 100%;
}
.card:nth-child(6):before {
    background: url(../images/shop/pkg6.jpg) no-repeat center;
    background-size: auto 100%;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.content > * + * {
    margin-top: 1rem;
}

.card_title {
    font-size: 26px;
    line-height: 1.2;
    text-align: left;
    font-family: "NanumSquareNeoExtraBold";
}

.country_name {
    margin-right: 60px;
    width: 100px;
    display: inline-block;
}

.card_title span {
    font-size: 16px;
    font-family: "NanumSquareNeo";
}

.copy {
    font-size: 20px;
    line-height: 2;
    font-family: "NanumSquareNeo";
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-family: "NanumSquareNeo";
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}

.btn:hover {
    background-color: #ffffff;
    color: #333;
}

.card:after {
    transform: translateY(0);
}

.content {
    transform: translateY(calc(100% - 4.5rem));
}

.content > *:not(.card_title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
}

.card:hover,
.card:focus-within {
    align-items: center;
}

.card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
}

.card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
}

.card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
}

.card:hover .content > *:not(.card_title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
}

.card:focus-within:before,
.card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.card_title) {
    transition-duration: 0s;
}

/* 광고배너 */
.ad_banner {
    height: 331px;
    background: url(../images/shop/ad_banner_bg.svg) no-repeat center;
    text-align: center;
    cursor: pointer;
}

.inner_ad_banner {
    width: 800px;
    margin: 0 auto;
    padding: 80px 0;
    position: relative;
}

.inner_ad_banner p {
    color: #707070;
    position: relative;
    z-index: 99;
}

.inner_ad_banner p:nth-child(1) {
    font-family: "Ttangsbudaejjigae";
    font-size: 30px;
    color: #57a7d1;
    line-height: 40px;
}
.inner_ad_banner p:nth-child(2) {
    font-family: "Recipekorea";
    font-size: 60px;
    padding: 40px 0 30px;
}
.inner_ad_banner p:nth-child(3) {
    font-family: "Recipekorea";
    font-size: 18px;
}

.inner_ad_banner p span {
    color: #229fe1;
}

.inner_ad_banner ul li {
    position: absolute;
}

.inner_ad_banner ul li:nth-child(1) {
    top: 52%;
    left: 14%;
    animation: ani 3s infinite linear alternate;
}
.inner_ad_banner ul li:nth-child(2) {
    top: 4%;
    left: 60%;
    animation: ani 2s infinite linear alternate;
}
.inner_ad_banner ul li:nth-child(3) {
    top: 20%;
    left: 0;
    animation: ani 1s infinite linear alternate;
}
.inner_ad_banner ul li:nth-child(4) {
    top: 17%;
    left: 85%;
    animation: ani 3s infinite linear alternate;
}
.inner_ad_banner ul li:nth-child(5) {
    top: 37%;
    left: 71%;
    animation: ani 4s infinite linear alternate;
}

/* 굿즈 */
.title4 {
    text-align: center;
}
.title4 .inner_title {
    width: 180px;
}

.title4 .button_wrap {
    height: 48px;
}

.goods {
    display: flex;
    justify-content: center;
    background-color: #cfdfff;
}

.goods li {
    background-color: #cfdfff;
    cursor: pointer;
}

.goods li img {
    display: block;
}

.goods li:hover {
    border-radius: 50%;
    background-color: #f9ebbf;
}

.section4 {
    overflow: hidden;
}
