@charset "UTF-8";

/* banner */
#banner {
    height: 540px;
    position: relative;
}
.slide li {
    width: 100%;
    height: 540px;
    position: absolute;
    top: 0;
    left: 0;
}
.slide li a {
    display: block;
    height: 100%;
}
.slide li.s1 {
    background: url(../images/shop/banner1.jpg) no-repeat center/cover;
}
.slide li.s2 {
    background: url(../images/shop/banner2.jpg) no-repeat center/cover;
}
.slide li.s3 {
    background: url(../images/shop/banner3.jpg) no-repeat center/cover;
}

/* etc */
.etc_link {
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-between;
    font-family: "NanumSquareNeoExtraBold";
    margin-top: 65px;
}

.etc_link li {
    width: 240px;
    padding: 21px 0 21px 50px;
    box-sizing: border-box;
    background-color: rgba(91, 175, 220, 0.07);
    background-repeat: no-repeat;
    background-position: center right 50px;
    background-image: url(../images/shop/icon_airplanet.svg);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.etc_link li:nth-child(2) {
    background-image: url(../images/shop/icon_star.svg);
}

.etc_link li:nth-child(3) {
    background-image: url(../images/shop/icon_car.svg);
}

.etc_link li:nth-child(4) {
    background-image: url(../images/shop/icon_insurance.svg);
}

.etc_link li:nth-child(5) {
    background-image: url(../images/shop/icon_earth.svg);
}

.etc_link li:hover {
    background-color: rgba(91, 175, 220, 0.2);
}

.search_bar button img {
    display: block;
    width: 100%;
}

/* section 공통 */
section {
    margin: 150px auto;
}

/* 타임특가딜 */
.title1 {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: 510px;
    background: linear-gradient(45deg, #a0d5a5, #59afdc);
    color: #fff;
    font-family: "NanumSquareNeoExtraBold";
    box-sizing: border-box;
    text-align: center;
}

.title1 h2 {
    margin: 20px 0;
    font-size: 30px;
}

.title1 img {
    position: relative;
    top: -10px;
    right: 10px;
}

.deal {
    position: relative;
    margin-top: 60px;
}

.deal_img {
    background: url(../images/shop/deal_bg.jpg) no-repeat bottom left;
    background-size: 105%;
    width: 1000px;
    height: 390px;
    position: absolute;
    top: 0px;
    right: 50%;
    transform: translateX(4%);
}

.inner_deal {
    margin: 0 auto;
    width: 1260px;
    height: 330px;
    border: 10px solid #71bb78;
    padding: 40px 35px 30px 690px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    z-index: 10;
    font-family: "NanumSquareNeoExtraBold";
}

.inner_deal h3 {
    font-size: 28px;
}

.inner_deal p {
    padding: 20px 0;
}

.inner_deal h4 {
    font-size: 26px;
    text-align: right;
}

.inner_deal h4 .color {
    color: #ff8c12;
}

.inner_deal h4 .small {
    font-size: 20px;
    font-family: "NanumSquareNeoBold";
}

#countdown {
    font-size: 22px;
    padding-top: 40px;
}

#countdown ul li {
    display: inline-block;
}

#countdown ul li b {
    font-size: 16px;
    color: #909090;
}

.inner_deal .deal_btn {
    background-color: #71bb78;
    font-size: 20px;
    padding: 20px 50px;
    font-family: "NanumSquareNeoBold";
    box-sizing: border-box;
    width: 180px;
    color: #fff;
    position: absolute;
    bottom: 30px;
    right: 35px;
}

.deal_end {
    display: none;
    padding-top: 40px;
    font-size: 22px;
}

/* section2 */
.title2 .inner_title img {
    margin-right: 7px;
}

.title2 {
    width: 1320px;
    margin: 0 auto 60px;
}

.title2 .inner_title {
    width: 400px;
    display: inline-block;
}

.title2 .inner_title img {
    display: block;
    float: left;
    width: 50px;
}

.title2 h2 {
    font-size: 30px;
    font-family: "NanumSquareNeoExtraBold";
    margin: 16px 0;
}

/* search_bar */
.search_bar_wrap {
    width: 1320px;
    margin: 0 auto;
}

.search_bar {
    display: inline-block;
    height: 54px;
    width: 480px;
    padding: 15px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16);
}

.search_bar input {
    border: none;
    width: 350px;
    font-size: 18px;
    color: #8e8e8e;
    outline: none;
    background-color: #ffffff00;
}

.search_bar input::placeholder {
    color: #adadad;
}

.search_bar button {
    border: none;
    background: none;
    cursor: pointer;
    width: 24px;
    float: right;
}
